.Logodiv > h5 {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #000000;
}

.Logodiv > p {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.form {
  width: 329px;
  margin: auto;
}
.forgot {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #f3cf00;
  text-decoration: none;
  cursor: pointer;
}

.forgot:hover {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #f3cf00 !important;
  text-decoration: none;
}

.forgot:focus-visible {
  outline: none !important;
}
.Formlabel {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #858585;
}
.checkdiv > label {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #3f3f3f;
}

.footers {
  width: 329px;
  margin: auto;
}
#Resetbtn {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  width: 100%;
  margin: 15px 0px 5px 0px;
  padding: 10px;
}
.receiveotp {
  text-align: center;
}
.receiveotp > p {
  font-style: normal;
  font-weight: 500 !important;
  font-size: 14px;
  line-height: 17px;
  color: #3f3f3f;
}
.otplabel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}
.otplabel > a {
  text-decoration: none;
}
.otp {
  width: 40px !important;
  height: 59px;
  border: 1px solid #d9d9d9 !important;
  font-weight: 400;
  font-size: 24px !important;
  line-height: 28px;
  color: #272727 !important;
  text-align: center !important;
  padding: 0 !important;
}
.otpdiv {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  align-items: center;
}
input[className="otp"]::placeholder {
  font-weight: 400;
  font-size: 24px !important;
  line-height: 28px;
  color: #858585;
}
.otp:focus {
  border: 1px solid #000 !important;
  box-shadow: none !important;
}
.otpline {
  transform: rotate(91deg) !important;
  height: 12px !important;
  width: 2px !important;
  border-radius: 20px !important;
}
.loginbtn {
  background: #f3cf00 !important;
  border-radius: 6px;
  padding: 10px !important;
  font-weight: 500;
  font-size: 16px;
  color: #000;
  border: none !important;
  width: 100%;
  margin-top: 20px;
}
.loginbtn:hover {
  color: #000;
}
.otptxt {
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 17px;
  color: #000000;
}
.Changeemail {
  font-weight: 500 !important;
  font-size: 14px;
  line-height: 17px;
  color: #f4da47 !important;
}
.otpcon {
  padding-top: 30px;
}
.maindiv {
  background: #fff !important;
}
.masterlogo{
    width: 120px;
    text-align: center;
}