.countrydiv {
    min-height: 100vh;
    padding: 30px;
}

.headingdiv {
    display: flex;
    justify-content: space-between;
}

.titlediv {
    width: 100%;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 10px;
}

.buttondiv {
    display: flex;
    gap: 20px;
    width: 50%;
    justify-content: right;
}

.button {
    background: #F4DA47;
    border-radius: 4px;
    border: none;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    color: #272727;
    padding: 5px 20px !important;
}

.buttonLogout {
    background: #000000;
    border-radius: 4px;
    border: none;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    color: white;
    padding: 5px 20px !important;
}

.title {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #000000;
    margin-bottom: 0px;
}

/* -------Add Country ----------- */
.add_div {
    padding: 15px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.add_div-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add_div-heading>h3 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #333333;
}

.add_div-heading>button {
    background: transparent;
    color: #D9D9D9;
    border: none;
    padding: 0px !important;
    font-size: 24px;
    line-height: 28px;
}

.formlabel {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
    color: #000000;
}

.formcontrol {
    width: 100%;
    padding: 15px !important;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    /* color: #858585; */
}

.formcontrol:focus {
    border: 1px solid #ced4da !important;
    box-shadow: none !important;
}

.MuiToggleButton-root {
    width: 100% !important;
}

.MuiToggleButton-root {
    width: 50% !important;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #272727;
}


.MuiDataGrid-row.Mui-selected {
    background: #fff !important;
    color: #000 !important;
}

.savebtn {
    background: #F3CF00;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #272727;
    box-shadow: 0px 4px 16px rgba(243, 207, 0, 0.2);
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    font-weight: bold;
    padding: 10px;
}

.icon {
    padding: 0 !important;
}

.searchdiv {
    width: 100%;
    display: flex;
    gap: 20px;
    padding-top: 20px;
}

.searchbox {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #D9D9D9 !important;
    background: #fff;
    border-radius: 5px;
    padding-left: 15px !important;
    display: flex;
    align-items: center;
}

.selectbox {
    width: 30%;
    border: 0.01em solid #d9d9d9 !important;
    border-left: none !important;
    background: #fff;
    border-radius: 0px 5px 5px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px !important;
}

.selectbox>div {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.selectbox>h4 {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    width: 45%;
    margin-bottom: 0 !important;
}

.searchbox>input {
    border: none !important;
    width: 85%;
    outline: none;
    color: black;
    background-color: transparent !important;
}

.selectcontrol {
    padding: 0 !important;
    border: none !important;
    background: transparent !important;
    outline: none;
}

.selectcontrol:focus {
    box-shadow: none;
}

.MuiDataGrid-root {
    background: #fff !important;
    border-radius: 5px !important;
}

.MuiToggleButtonGroup-root {
    width: 100% !important;
}

.MuiDataGrid-columnHeaderTitleContainer:focus {
    outline: none !important;
    border-color: #fff !important;
}

.MuiIconButton-sizeSmall,
.MuiDataGrid-iconSeparator {
    display: none !important;
}

.MuiDataGrid-columnHeaderTitle {
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #858585 !important;
    letter-spacing: 0.13em;
    font-weight: bold !important;
}

.MuiDataGrid-cellContent {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #000000 !important;

}

.MuiDataGrid-cell:focus,
.MuiDataGrid-columnHeader:focus {
    outline: none !important;
}

.MuiDataGrid-cell {
    justify-content: center !important;
}

/* ----------- select-------- */
.MuiInput-underline::before,
.MuiInput-underline::after {
    border: none !important;
    box-shadow: none !important;
}

.togglebtn>.Mui-selected {
    background: #000 !important;
    color: #fff !important;
}

.togglechildbtn {
    padding: 10px !important;
}

/* .MuiMenu-root{
    width: 150px !important;
} */
.phonecodediv {
    display: flex;
    gap: 15px;

}

.MuiDataGrid-columnHeaderTitleContainer {
    justify-content: center;
}

.editicon {
    color: #F4DA47;
    font-size: 20px;
}

@media (max-width: 1200px) {
    .selectbox>h4 {
        width: 30%;
    }
}

@media (max-width: 400px) {

    .searchdiv,
    .headingdiv {
        flex-direction: column;
        gap: 5px;
        padding-top: 10px !important;
    }

    .searchbox {
        width: 100%;
        border-radius: 5px;
    }

    .selectbox {
        width: 100%;
        border-radius: 5px;
        padding: 6px 10px !important;
    }

    .buttondiv {
        gap: 0 !important;
        width: 100%;
        justify-content: flex-start;
    }

    .button {
        width: 100%;
    }
}

.newuser {
    text-align: end;
    padding-top: 30px;
}

.termsStyls {
    text-decoration: none;
    color: #f3cf00 !important;
}

.newuser>p {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #3f3f3f;
    margin: 0;
    font-family: "Rubik", sans-serif;
}

.phonenumber {
    border-radius: 0px 3px 3px 0px !important;
}

.Logodiv>h5 {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #000000;
}

.Logodiv>p {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.form {
    width: 329px;
    margin: auto;
}

.forgot {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #f3cf00;
    text-decoration: none;
}

.forgot:hover {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #f3cf00 !important;
    text-decoration: none;
}

.forgot:focus-visible {
    outline: none !important;
}

.Formlabel {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

::placeholder {
    font-weight: 400;
    font-size: 14px !important;
    line-height: 17px;
    color: #858585;
}

.checkdiv>label {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #3f3f3f;
}

#InputEmail1,
#InputPassword1 {
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    padding: 10px;
}

.loginbtn {
    background: #f3cf00 !important;
    border-radius: 6px;
    padding: 10px !important;
    font-weight: 500;
    font-size: 16px;
    color: #000 !important;
    border: none !important;
    width: 100%;
    margin: 0px 0px 20px 0px;
}

.loginbtn:hover {
    color: #000;
}

.footers {
    width: 329px;
    margin: auto;
}

.flexdiv {
    display: flex;
    flex-direction: column;
    justify-items: center;
    min-height: 100vh;
    gap: 25px;
}

.iconposition {
    position: relative;
    width: 100%;
}

.passicons {
    color: #858585;
    position: absolute;
    right: 13px;
    top: 41px;
    font-size: 20px;
}

#Signin {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
    width: 100%;
    padding: 10px;
    margin: 20px 0px;
}

.phonecode {
    width: 25%;
}

.phoneno {
    width: 75%;
}

.mobilenodiv {
    display: flex;
}

.MuiSelect-select {
    padding: 2px 5px !important;
    outline: none !important;
    border-radius: 4px 0px 0px 4px !important;
}

#phoneCode {
    border-radius: 0px 4px 4px 0px !important;
}

.form-select {
    padding: 10px !important;
    border-radius: 4px !important;
}

.recaptcha {
    transform: scale(0.77);
    -webkit-transform: scale(1.08);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
}

.maindiv {
    background: #fff !important;
}

.checkboxStyls {
    margin: 10px 5px;
}

.mobileCode {
    border-radius: 3px 0px 0px 3px !important;
}

.masterlogo {
    width: 120px;
    text-align: center;
}

.almostdiv>h5 {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #000000;
}

.almostdiv {
    text-align: center;
}

.almostdiv>p {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.form {
    width: 50%;
    margin: auto;
}

.Formlabel {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #858585;
}

.checkdiv>label {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #3f3f3f;
}

#InputEmail1,
#InputPassword1 {
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    padding: 10px;
}

.footers {
    width: 329px;
    margin: auto;
}

.flexdiv {
    display: flex;
    flex-direction: column;
    justify-items: center;
    min-height: 100vh;
    gap: 25px;
}

.iconposition {
    position: relative;
    width: 100%;
}

.passicons {
    color: #858585;
    position: absolute;
    right: 13px;
    top: 43px;
}

.phonecode {
    width: 25%;
}

.phoneno {
    width: 75%;
}

.mobilenodiv {
    display: flex;
}

.MuiSelect-select {
    padding: 2px 5px !important;
    outline: none !important;
    border-radius: 4px 0px 0px 4px !important;
}

#phoneCode {
    border-radius: 0px 4px 4px 0px !important;
}

.traderdiv {
    display: flex;
    gap: 15px !important;
}

.form-select {
    padding: 10px !important;
    border-radius: 4px !important;
}

.almostlabels {
    font-weight: 500 !important;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.disclaimer>p {
    font-style: italic;
    font-size: 14px;
    line-height: 20px;
    color: #858585;
    margin-bottom: 0;
}

.disclaimer>p>span {
    font-weight: 600;
}

#gst,
#pan {
    text-transform: uppercase;
}

.gstfile,
.blfileupload {
    display: none;
}

.uploadlabel {
    display: flex;
    gap: 5px;
    font-weight: 500 !important;
    font-size: 14px !important;
    line-height: 17px !important;
    color: #f4da47 !important;
    align-items: center;
    cursor: pointer;
}

.gstinputs {
    border-radius: 3px 0px 0px 3px !important;
    text-transform: uppercase;
    border-right: none !important;
}

.paninputs {
    border-radius: 3px !important;
    text-transform: uppercase;
}

.gstdiv {
    display: flex;
}

.gstno {
    width: 70%;
}

.gstfileupload {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #d9d9d9;
    border-radius: 0px 4px 4px 0px;
}

#gst {
    border-radius: 4px 0px 0px 4px !important;
    border-right: none !important;
}

.blcopy {
    border: 1px solid #d9d9d9;
    width: 60%;
    font-weight: 500;
    border-radius: 4px 0px 0px 4px;
    padding: 10px;
    border-right: none !important;
}

.uploadfile {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 65px;
    cursor: pointer;
}

.deleteicons {
    color: rgb(255, 21, 21);
    font-size: 20px;
    cursor: pointer;
}

.loginbtn {
    background: #f3cf00 !important;
    border-radius: 6px;
    padding: 10px !important;
    font-weight: 500;
    font-size: 16px;
    color: #000;
    border: none !important;
    width: 100%;
    margin-top: 20px;
}

.loginbtn:hover {
    color: #000;
}

.newuser {
    text-align: end;
    padding-top: 30px;
}

.newuser>p {
    font-size: 14px;
    line-height: 17px;
    color: #3f3f3f;
    margin: 0;
    font-weight: bold;
}

.forgot {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #f3cf00;
    text-decoration: none;
    border: none;
    background-color: transparent;
    outline: none;
}

.forgot:hover {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #f3cf00 !important;
    text-decoration: none;
}

.forgot:focus-visible {
    outline: none !important;
}

.gstlabel {
    display: flex;
    justify-content: space-between;
}

.bllabel {
    width: 100%;
    display: flex;
    justify-content: right;
}

.stateoption {
    padding-right: 30px !important;
}

.masterlogo {
    width: 120px;
    text-align: center;
}